<!DOCTYPE html>
<html>
    <head>
    <nav>
    <a href="/">Home</a> 
    <a href="/blog"> Recent Posts</a>    
    <a href="/user_blog">My Posts</a>
    <a href="/new_post">Create New Post</a> 
    <a href="/logout">Log Out</a>
    <a href="/login">Log In</a>
    </nav>
    <title>{%block title %} {% endblock %}</title>
    <h1 align="center">{%block header %} Blogz{% endblock %}</h1>
    <style>
        .error {
                color: red;
            }
            
        body {
            height: 150vh;
            background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
            background-size: 2000px;
            -position-x: center;
            background-position-y: center; 
        }
        h1  {text-align: center;
        }

    </style>

    </head>
    <body>
        <div>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
    <ul style="list-style: none;">
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>